<div class="ui small inverted menu">
      <div class="ui container">
        <%= link_to "Chatroom", root_path, class:"item"%>
        <%= link_to "Messages", root_path, class:"item"%>

        <div class="right menu">
          <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
              <% unless logged_in? %>
                <%= link_to "Login", login_path, class:"item"%>
              <% else %>
                <%= link_to "Logout", logout_path, method: :delete, class:"item"%>
              <% end %>
            </div>
          </div>
          <% unless logged_in? %>
            <div class="item">
                <%= link_to "Login" , login_path, class:"ui primary button"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>